/* FONT LINKS */
@font-face {
  font-family: Fink-Heavy;
  src: url('./assets/FinkHeavy.ttf');
  font-size: 100%;
}

@font-face {
  font-family: Cheri;
  src: url('./assets/cheri.ttf');
  font-size: 100%;
}

@font-face {
  font-family: Cheri-Solid;
  src: url('./assets/cheri_solid.ttf');
  font-size: 100%;
}

/* COLOR SCHEME */

:root {
  --teal: #7DD6BC;
  --tan: ;
  --green: #80BF70;
}

/* MAIN STYLING */

body {
  background-color: var(--teal);
  margin: 20px;
}

nav {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--teal);
}

.logo {
  height: 90px;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin-top: -20px;
}

.title {
  font-size: 2.2em;
  text-align: right;
  text-decoration: none;
  color: white;
  font-family: Cheri;
}

h1 {
  margin: 0;
}

.nav-links {
  text-decoration: none;
  color: white;
  border-left: 2px solid;
  padding-left: 10px;
  font-size: 1em;
  font-family: Cheri-Solid;
}

.bug-link {
  border-left: none;
  margin-left: -20px;
}

.icon-container {
  position: sticky;
  top: 200px;
  background-color: var(--teal);
  padding: 30px;
}

/* LIBRARIES STYLING */

.critter-icon {
  height: 90px;
  background-color: tan;
  border-radius: 100px;
  box-shadow: 1px 1px 2px 4px grey;
  margin: 0 35%;
  padding: 10px;
}

.library {
  margin: 10px;
}

.icon-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


h4 {
  font-family: Cheri-Solid;
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 15px;
  padding: 5px 0 3px 0;
  background-color: tan;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px grey;
}

.critter-details {
  display: flex;
}

.details {
  margin: 0 20px 0 0;
  background-color: white;
  padding: 20px;
}

.details-container {
  padding: 0 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px grey;
}

h3 {
  font-family: Cheri-Solid;
  color: black;
  font-size: .9em;
}

span {
  color: var(--green);
}

.details-name {
  background-color: white;
  color: black;
}

/* SEARCH STYLING */

form {
  text-align: center;
  line-height: 50px;
}

.search {
  width: 200px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-family: Cheri-Solid;
  font-size: 1.5em;
}

label {
  color: white;
  font-family: Cheri-Solid;
  margin-right: 10px;
  font-size: 1.5em;
}

.submit-button {
  width: 80px;
  height: 30px;
  margin-left: 20px;
  background-color: tan;
  border-radius: 10px;
  box-shadow: .5px .5px 1px 2px grey;
  color: white;
  font-family: Cheri-Solid;
}

.search-result {

}

/* CAUGHT STYLING */

h5 {
  font-family: Cheri-Solid;
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 1em;
  margin: 15px;
  padding: 5px 0 3px 0;
  background-color: var(--green);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px grey;
}

.caught-library {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caught {
  margin: 15px 5px;
  background-color: var(--green);
}